@media (min-width: 1024px) {
    p.about-title {
        text-transform: uppercase;
        font-size: 16px;
    }

    .stat-item span {
        padding: 4px 16px;
        font-size: 12px;
    }

    section#about {
        display: flex;
    }

    .we-item span.value {
        font-size: 114px;
        font-family: "Montserrat";
        font-weight: 500;
    }

    .we-item {
        display: flex;
        flex-direction: column-reverse;
    }

    .we-item p.description {
        text-align: right;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;

    }

    p.about-title {
        text-transform: uppercase;
        font-size: 14px;
        text-decoration: underline;
    }
}

@media (max-width: 1024px) {
    .we-item span.value {
        font-size: 114px;
        font-family: "Montserrat";
        font-weight: 500;
    }

    .we-item {
        display: flex;
        flex-direction: column;
    }

    p.about-title {
        text-transform: uppercase;
        text-decoration: underline;
        font-size: 16px;
    }
    .we-item p.description {
        font-size: 14px;
        border-bottom: 1px solid #17171726;
        padding: 20px 0px;
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

}



img.about-img {
    width: 100%;
}

.stat-item span {
    padding: 4px 16px;
    font-size: 18px;
    border-radius: 88px;
    border: 1px solid black;
}

.stat-item {
    gap: 6px;
    display: flex;
}

.hidden-text {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease-out;
}

.hidden-text.visible {
    opacity: 1;
    max-height: 100px;
}