.button__link{font-size: 16px;font-weight: 500;color: #000000;border: none;text-decoration: none;padding: 10px 0px;display: flex;align-items: center;position: relative;}
.button__link:hover{
    color: #4e4e4e;
}
.button__link::after{
    content: '';
    display: block;
    width: 140px;
    height: 1px;
    background: #000000;
    margin-top: 3px;
    position: absolute;
    bottom: 16px;
    left: 50px;
}
.arrow{
    color: #000000;
    font-size: 28px;
    padding-left: 6px;
}
